[submodule "mastering/lib/forge-std"]
	path = mastering/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "mastering/lib/openzeppelin-contracts"]
	path = mastering/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
